;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Mar  3 17:16:14 2011
;; Desktop file format version 206
;; Emacs version 23.1.50.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name "/home/sonu/workspace/TAGS")
(setq tags-table-list '("/home/sonu/workspace/TAGS" "./TAGS" "../TAGS" "../../TAGS"))
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/workspace/programming/candcpp/" "~/workspace/TAGS" "~/workspace/programming/candcpp/tc_tool.cpp"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/sonu/workspace/programming/candcpp/tc_tool.cpp"
  "tc_tool.cpp"
  'c++-mode
  '(abbrev-mode eldoc-mode)
  6078
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  nil
  "*info*"
  'Info-mode
  '(eldoc-mode)
  121488
  '(nil nil)
  t
  '("/usr/share/info/emacs-snapshot/emacs" "Select Tags Table")
  '((tab-width . 8) (buffer-file-coding-system . utf-8-unix) (case-fold-search . t)))

