<!DOCTYPE html>

<html>

  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="login.css" />
  </head>

  <body>
    <div id="loginPanel">
      <div id="loginViewPanel">
      </div>
      <div id="loginControlPanel">
	<form id="loginForm" method="post" action="http://localhost/shoppinglist/login">
	  <fieldset id="login">
	    <legend>Login</legend>
	  <p><label>Username: <br/> <input required autocomplete="User name"></input></label></p>
	  <p><label>Password: <br/> <input required autocomplete="User Password"></input></label></p>
	  <p><button>Submit</button></p>
	  </fieldset>
	</form>
      </div>
    </div>
  </body>
  
</html>
